.wrapper {
    // đề phòng trường hợp icon custom có kích thước gây mất cân đối cho title btn
    display: inline-flex;
    align-items: center;
    justify-content: center;

    // các thông số mà mọi dạng button đều hưởng chung
    border-radius: 4px;
    font-size: 1.6rem;
    font-weight: 700;
    cursor: pointer;
    border: 1px solid transparent;
    user-select: none;

    + .wrapper {
        margin-left: 8px;
    }

    &.disabled {
        pointer-events: none;
        opacity: 0.5;
    }
}

// Button styles
.text {
    color: var(--black);

    &:hover {
        color: var(--primary);
        text-decoration: underline;
    }
}

.primary {
    background-color: var(--primary);
    color: var(--white);

    &:hover {
        background: linear-gradient(
                0deg,
                rgba(0, 0, 0, 0.06),
                rgba(0, 0, 0, 0.06)
            ),
            #fe2c55;
    }
}

.outline {
    color: var(--primary);
    border-color: var(--primary);

    &:hover {
        background-color: rgba(254, 44, 85, 0.06);
    }
}

.rounded {
    background-color: rgba(0, 0, 0, 0.01);
    border-color: rgba(22, 24, 35, 0.12);
    border-radius: 100px;
    box-shadow: 0 2px 8px rgba(0 0 0 / 6%);
    // Không để % vì nó sẽ bị méo,
    // chỉ cần để số lớn là tự động thành viên thuốc

    &:hover {
        border-color: rgba(22, 24, 35, 0.2);
        background-color: rgba(0, 0, 0, 0.03);
    }
}

// Buttun size
.medium {
    min-width: 100px;
    padding: 10px 16px;
}

.small {
    min-width: 88px;
    padding: 6px 16px;
}

.large {
    min-width: 140px;
    padding: 14px 16px;
}

// Icon inside button

.iconLeft-btn + .title-btn,
.title-btn + .iconRight-btn {
    margin-left: 8px;
}
